In [59]:
import pandas as pd

In [60]:
data=pd.read_csv("/home/placement/Downloads/fiat500 (5).csv")

In [61]:
data.describe()

,ID,engine_power,age_in_days,km,previous_owners,lat,lon,price
count,1538.000000,1538.000000,1538.000000,1538.000000,1538.000000,1538.000000,1538.000000,1538.000000
mean,769.500000,51.904421,1650.980494,53396.011704,1.123537,43.541361,11.563428,8576.003901
std,444.126671,3.988023,1289.522278,40046.830723,0.416423,2.133518,2.328190,1939.958641
min,1.000000,51.000000,366.000000,1232.000000,1.000000,36.855839,7.245400,2500.000000
25%,385.250000,51.000000,670.000000,20006.250000,1.000000,41.802990,9.505090,7122.500000
50%,769.500000,51.000000,1035.000000,39031.000000,1.000000,44.394096,11.869260,9000.000000
75%,1153.750000,51.000000,2616.000000,79667.750000,1.000000,45.467960,12.769040,10000.000000
max,1538.000000,77.000000,4658.000000,235000.000000,4.000000,46.795612,18.365520,11100.000000

In [62]:
data1=data.drop(['ID','lat','lon'],axis=1)

In [63]:
data1

       model  engine_power  age_in_days      km  previous_owners  price
0     lounge            51          882   25000                1   8900
1        pop            51         1186   32500                1   8800
2      sport            74         4658  142228                1   4200
3     lounge            51         2739  160000                1   6000
4        pop            73         3074  106880                1   5700
...      ...           ...          ...     ...              ...    ...
1533   sport            51         3712  115280                1   5200
1534  lounge            74         3835  112000                1   4600
1535     pop            51         2223   60457                1   7500
1536  lounge            51         2557   80750                1   5990
1537     pop            51         1766   54276                1   7900

[1538 rows x 6 columns]

In [64]:
data=pd.get_dummies(data)

In [65]:
data

,ID,engine_power,age_in_days,km,previous_owners,lat,lon,price,model_lounge,model_pop,model_sport
0,1,51,882,25000,1,44.907242,8.611560,8900,1,0,0
1,2,51,1186,32500,1,45.666359,12.241890,8800,0,1,0
2,3,74,4658,142228,1,45.503300,11.417840,4200,0,0,1
3,4,51,2739,160000,1,40.633171,17.634609,6000,1,0,0
4,5,73,3074,106880,1,41.903221,12.495650,5700,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
1533,1534,51,3712,115280,1,45.069679,7.704920,5200,0,0,1
1534,1535,74,3835,112000,1,45.845692,8.666870,4600,1,0,0
1535,1536,51,2223,60457,1,45.481541,9.413480,7500,0,1,0
1536,1537,51,2557,80750,1,45.000702,7.682270,5990,1,0,0
1537,1538,51,1766,54276,1,40.323410,17.568270,7900,0,1,0

In [66]:
data.shape

(1538, 11)

In [67]:
y=data['price']
x=data.drop('price',axis=1)

In [68]:
y

0       8900
1       8800
2       4200
3       6000
4       5700
        ...
1533    5200
1534    4600
1535    7500
1536    5990
1537    7900
Name: price, Length: 1538, dtype: int64

In [69]:
x

,ID,engine_power,age_in_days,km,previous_owners,lat,lon,model_lounge,model_pop,model_sport
0,1,51,882,25000,1,44.907242,8.611560,1,0,0
1,2,51,1186,32500,1,45.666359,12.241890,0,1,0
2,3,74,4658,142228,1,45.503300,11.417840,0,0,1
3,4,51,2739,160000,1,40.633171,17.634609,1,0,0
4,5,73,3074,106880,1,41.903221,12.495650,0,1,0
...,...,...,...,...,...,...,...,...,...,...
1533,1534,51,3712,115280,1,45.069679,7.704920,0,0,1
1534,1535,74,3835,112000,1,45.845692,8.666870,1,0,0
1535,1536,51,2223,60457,1,45.481541,9.413480,0,1,0
1536,1537,51,2557,80750,1,45.000702,7.682270,1,0,0
1537,1538,51,1766,54276,1,40.323410,17.568270,0,1,0

In [70]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in ./anaconda3/lib/python3.10/site-packages (1.2.1)
Requirement already satisfied: numpy>=1.17.3 in ./anaconda3/lib/python3.10/site-packages (from scikit-learn) (1.23.5)
Requirement already satisfied: scipy>=1.3.2 in ./anaconda3/lib/python3.10/site-packages (from scikit-learn) (1.10.0)
Requirement already satisfied: joblib>=1.1.1 in ./anaconda3/lib/python3.10/site-packages (from scikit-learn) (1.1.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in ./anaconda3/lib/python3.10/site-packages (from scikit-learn) (2.2.0)

In [71]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state= 42)

In [72]:
x_test.head(5)

,ID,engine_power,age_in_days,km,previous_owners,lat,lon,model_lounge,model_pop,model_sport
481,482,51,3197,120000,2,40.174702,18.167629,0,1,0
76,77,62,2101,103000,1,45.797859,8.644440,0,1,0
1502,1503,51,670,32473,1,41.107880,14.208810,1,0,0
669,670,51,913,29000,1,45.778591,8.946250,1,0,0
1409,1410,51,762,18800,1,45.538689,9.928310,1,0,0

In [73]:
x_test.shape

(508, 10)

In [74]:
x_train.head(5)

,ID,engine_power,age_in_days,km,previous_owners,lat,lon,model_lounge,model_pop,model_sport
527,528,51,425,13111,1,45.022388,7.58602,1,0,0
129,130,51,1127,21400,1,44.332531,7.54592,1,0,0
602,603,51,2039,57039,1,40.748241,14.52835,0,1,0
331,332,51,1155,40700,1,42.143860,12.54016,1,0,0
323,324,51,425,16783,1,41.903221,12.49565,1,0,0

In [75]:
y_test.head(5)

481     7900
76      7900
1502    9400
669     8500
1409    9700
Name: price, dtype: int64

In [76]:
y_train.head(5)

527    9990
129    9500
602    7590
331    8750
323    9100
Name: price, dtype: int64

In [77]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression() #creating object of linearRegression
reg.fit(x_train,y_train) #training are fitting LR object using training data

LinearRegression()

In [78]:
ypred=reg.predict(x_test)

In [79]:
ypred

array([ 5819.19308764,  7248.82914161,  9741.8936974 ,  9798.98033074,
       10055.00624601,  9551.4955679 ,  9758.01743879, 10122.9778365 ,
        9654.9661814 ,  9251.1403257 , 10478.09512253,  7807.3005255 ,
        7705.15873781,  6295.63244894,  9545.40486313, 10422.92177704,
        9616.90811615,  7756.9171161 ,  4893.88454414, 10581.46142719,
       10465.24078346, 10443.29318231,  7518.43696046, 10028.21911459,
        6990.73118896,  8989.86900819,  4823.51364349,  6989.03118684,
        7822.83203734,  9683.17944083,  7344.21343132,  5341.43860798,
        5420.78405336,  5092.38401339,  8971.44357515,  5702.81242412,
        9920.16285466,  8334.58448277,  6220.93323723,  8389.23958511,
        9695.84208061,  6859.59630725,  9101.22635456, 10063.22592995,
        8621.83915759, 10175.06753933,  9063.21918346,  8867.24865352,
        7094.44228184,  9058.37693565,  9474.82390731, 10406.09102832,
       10112.65006224,  6820.90463865,  9700.36507783,  9382.18149429,
        9632.57617775, 10553.81356008,  9847.21129432,  7247.16814789,
        9990.23331336,  7084.23300123,  9977.34233656,  7245.01115798,
        6490.89305576,  9737.86785115,  9853.54349825,  8568.7125607 ,
        8506.81438703,  6484.69051659,  7883.1895563 ,  6870.28308427,
        8263.36833348, 10551.03496347,  7434.71134313,  8637.85174602,
        9762.07817037, 10010.4780977 ,  7324.68808828,  9527.73426933,
       10450.80515505,  8066.58173619, 10492.62679897,  3710.6121898 ,
       10391.05986404, 10575.63523209,  6133.08783935, 10346.71696616,
        6553.41814479,  9091.6637332 , 10479.33721599,  9408.65803116,
        6871.80469669,  3255.22125642, 10146.47015989,  9766.95479654,
        6164.52040658,  5111.46844316,  9066.01493801,  9756.3650463 ,
        5414.5947869 ,  5598.7203379 , 10075.79858758,  8128.21212362,
       10491.36768849,  6731.76253756,  6737.96085675,  5824.42019158,
        8830.1166215 ,  9985.15913274, 10382.71023744,  9468.0263143 ,
        8968.98195986, 10125.34089439, 10458.2651463 , 10278.08804577,
        9671.6787843 ,  9329.13714009, 10314.76913411,  5264.56339184,
        9702.21408416,  6171.43279386,  8986.33052433, 10216.19272235,
        9147.3967606 ,  9826.31604212,  8298.03251468,  8311.88829156,
        7566.99918427, 10585.88056004, 10365.38883807, 10134.48005849,
       10264.36282573,  6915.44935844,  9653.38748676, 10541.2624204 ,
        9560.92995691,  8036.36881073,  9719.26456362,  7852.08945425,
       10512.80396135,  9252.12747599,  5726.61394851,  6730.65776903,
        8210.66023805, 10515.83562762, 10009.26844663,  9700.98953567,
       10713.27840286,  7459.58763216,  6787.00375841,  8104.3079721 ,
       10354.65990513,  8853.07922772,  8364.21417446,  9715.8036014 ,
        9717.9187229 , 10052.70924095, 10413.05171654,  7110.93559148,
        9677.88306475,  6332.86407216,  7919.52949511,  9426.02785254,
        4922.86060346,  9277.4623152 , 10063.26423893, 10214.94768556,
        6434.36110141,  9768.93083352,  8988.12723422,  5227.79616128,
        5571.30440259,  4530.22663156, 10314.20984456, 10113.71226961,
        5360.80939407,  8630.38080588,  6927.12547116,  9966.57630777,
       10153.96314322,  5873.22039039,  9650.12316742,  9596.30428421,
        9210.62472152,  9107.96642063, 10077.12276256,  9887.85750934,
        7433.33664508,  5190.30679382,  9222.53641469, 10288.97675716,
        5539.64210263, 10685.55785899,  6126.05232762,  9797.2144396 ,
        9764.16793219,  7734.48412536,  6599.33938152,  9893.11163791,
        8420.76749148,  9136.0556585 ,  6219.28284751, 10460.47400864,
        6426.36893592,  8693.98069786,  8389.820911  ,  9693.29793621,
        8004.80972809, 10164.15734203, 10092.12177753, 10038.13615861,
       10420.91991521,  8559.36348376,  6802.41765474,  9463.60914351,
        6595.32443302, 10452.79948148,  8985.36620712, 10381.62641587,
        9044.61727199,  9858.25635967,  8431.44396488,  9332.03262887,
        9968.53895502,  8373.53182638,  4730.06355541, 10128.50049952,
        9951.43993841, 10514.34035875,  9980.65273426,  4951.73872798,
        7295.05742766,  9562.10832139,  9907.19829915,  5552.67362672,
        9997.10882667,  5143.10046698,  8426.58953237,  7496.77298917,
        7788.58793224,  9652.49535927,  8621.5141248 , 10372.95686992,
        7121.85593538,  9807.45515506,  8055.56244116,  7460.56572873,
       10280.14093316, 10476.37888795,  5412.86365493,  9159.69570754,
        9570.24451488, 10631.67197425, 10191.16722391,  9246.40215298,
        6018.78924109,  9615.95984878, 10520.04528994,  8915.29037502,
        8227.95081736,  9888.28916316,  9469.40296538,  9984.09733556,
       10405.22999333, 10510.19490347,  9686.14366923,  8096.65870148,
       10493.03817153, 10386.55525134,  8807.23351267,  8280.41931335,
        6855.39153451, 10228.17167191,  4741.4113269 ,  8847.08211454,
        5777.60377085, 10140.98307313,  8867.00881496, 10115.19879685,
        9581.17073619, 10485.09114495, 10213.14966572,  9750.35350756,
        9670.90795615,  6722.33834114,  9564.21623605,  8616.86940955,
        6677.30400889, 10373.25962634, 10171.86282428, 10201.5589761 ,
        5933.51739776,  8804.77586124,  9636.29957689,  5533.81938983,
        8355.20070696,  9637.44491292,  4357.89955793,  9958.32874977,
        9779.38235089,  7862.66884791, 10129.74800911, 10459.05959668,
       10231.78369129,  6764.79775959,  6588.0328491 , 10326.6417079 ,
        8491.28578378,  5397.7721542 ,  9806.02134747,  4658.41362832,
        7847.09726007,  5434.32636575,  9947.50805756, 10393.51476648,
        9714.15455674,  8720.24438517,  7747.17735748,  4295.00814836,
        9775.32352003, 10408.91107298,  5697.84384985, 10227.82627464,
        9499.28759155,  8063.91598111,  5558.91344769,  9800.12594902,
       10534.65340782,  6255.9526295 ,  9623.6837517 ,  9474.68837969,
       10386.79158214,  9590.83795102,  9586.78339   ,  9678.64671073,
        6877.78966053,  7815.97344878, 10292.13370401, 10416.92788043,
        7338.21169569,  9995.55545352, 10491.24268381, 10629.34614975,
       10375.07768021, 10067.07191604,  9568.3301962 ,  7811.49275809,
        9221.47869229,  9935.53077254,  9888.11152759,  9905.19892591,
        9447.64222531,  9682.52138303,  9634.69968187,  9811.31864154,
        8756.03555754,  6193.65129714,  6354.87146951,  8207.3621036 ,
        8598.2667194 ,  6487.89489493,  6832.90460176,  5301.78688917,
        8187.42493969,  9828.98271296,  7806.33327627,  9782.73212406,
       10085.78321491,  5680.95952529,  9926.93972284,  9950.95892668,
        8098.05368723,  4565.24396633, 10709.71543595,  3901.21685234,
        9783.97388187, 10514.70878639,  5702.77097363,  5515.28972165,
       10534.65884212,  6791.82026062,  9022.87088921, 10542.0619477 ,
        9388.22098306,  9969.20840168,  8529.3315146 ,  7909.48052462,
       10371.21600688,  5343.40955708,  9793.46202119, 10248.73590685,
       10350.88894338,  9418.6649538 ,  9246.75432375,  9726.77158038,
        5646.60360194,  4954.59993355,  4854.00609399,  9667.14070802,
        6106.03185061,  9895.4585107 , 10067.23023087,  4939.52480184,
        8024.89878537,  9702.49506011,  5897.90997934, 10144.6495611 ,
        5395.93461448,  9622.44225965, 10171.86736173, 10103.58498957,
        9481.19877071,  4918.69676305,  5809.10532945,  7076.07274648,
       10066.02424638, 10430.97776811, 10050.79995384,  7801.53792597,
        8738.32379912,  9963.07184541, 10250.69391036,  9856.67153089,
        8383.84152492,  9307.84587539,  8530.90168144,  9859.23075392,
        9733.54483496,  9744.86150125,  6741.410463  ,  7342.18893371,
        8772.20704958,  9959.77345301,  9692.26944677, 10524.54487623,
        8221.41396472,  6722.97284178,  9894.93188478,  8849.71168914,
        9786.53980838, 10262.59139607, 10382.67498044,  9988.41681508,
        9336.80741819,  9902.52039123,  9109.63147621, 10147.01866123,
        7831.00036415,  6059.56493387,  8827.96184211, 10302.33416028,
        5660.1705204 , 10068.83508852,  9595.70115109,  7698.86996869,
        9319.54039166,  7421.93077111, 10397.65812756, 10008.49656229,
       10572.26845119,  9890.79746015,  9995.86970892,  6328.88724858,
       10434.22517244,  9981.92833783, 10478.31842709,  9584.67757276,
        9795.59966427,  6215.62308925,  8012.67431998, 10289.49085168,
        6351.65397303,  7447.35295678,  9954.0491226 ,  6753.92994153,
        7806.68212311,  5292.72896136,  4479.07164048,  8743.32482334,
        6930.07078154,  7474.31727616,  6868.13323766,  7152.35036884,
        9982.54626745,  8788.00494177,  9330.50348958, 10377.44826079,
       10022.1505514 , 10337.05151745,  9800.2030809 ,  5814.72404507,
        9709.16172189,  7742.98208443,  5572.51518045,  4925.50951785,
        9768.41037373,  9221.55601083, 10071.81783204,  6262.02686535,
        8575.98018953, 10437.10459474,  5155.27599558, 10121.59338446,
        6288.64828167, 10016.50553712,  8248.74649184, 10337.34582013])

In [80]:
from sklearn.metrics import r2_score
r2_score(y_test,ypred)

0.8428319728488683

In [81]:
from sklearn.metrics import mean_squared_error
mean_squared_error(ypred,y_test)

577189.6736608233

In [82]:
import math
a=577189.6736608233
print(math.sqrt(a))

759.7300005007195

In [83]:
ypred

array([ 5819.19308764,  7248.82914161,  9741.8936974 ,  9798.98033074,
       10055.00624601,  9551.4955679 ,  9758.01743879, 10122.9778365 ,
        9654.9661814 ,  9251.1403257 , 10478.09512253,  7807.3005255 ,
        7705.15873781,  6295.63244894,  9545.40486313, 10422.92177704,
        9616.90811615,  7756.9171161 ,  4893.88454414, 10581.46142719,
       10465.24078346, 10443.29318231,  7518.43696046, 10028.21911459,
        6990.73118896,  8989.86900819,  4823.51364349,  6989.03118684,
        7822.83203734,  9683.17944083,  7344.21343132,  5341.43860798,
        5420.78405336,  5092.38401339,  8971.44357515,  5702.81242412,
        9920.16285466,  8334.58448277,  6220.93323723,  8389.23958511,
        9695.84208061,  6859.59630725,  9101.22635456, 10063.22592995,
        8621.83915759, 10175.06753933,  9063.21918346,  8867.24865352,
        7094.44228184,  9058.37693565,  9474.82390731, 10406.09102832,
       10112.65006224,  6820.90463865,  9700.36507783,  9382.18149429,
        9632.57617775, 10553.81356008,  9847.21129432,  7247.16814789,
        9990.23331336,  7084.23300123,  9977.34233656,  7245.01115798,
        6490.89305576,  9737.86785115,  9853.54349825,  8568.7125607 ,
        8506.81438703,  6484.69051659,  7883.1895563 ,  6870.28308427,
        8263.36833348, 10551.03496347,  7434.71134313,  8637.85174602,
        9762.07817037, 10010.4780977 ,  7324.68808828,  9527.73426933,
       10450.80515505,  8066.58173619, 10492.62679897,  3710.6121898 ,
       10391.05986404, 10575.63523209,  6133.08783935, 10346.71696616,
        6553.41814479,  9091.6637332 , 10479.33721599,  9408.65803116,
        6871.80469669,  3255.22125642, 10146.47015989,  9766.95479654,
        6164.52040658,  5111.46844316,  9066.01493801,  9756.3650463 ,
        5414.5947869 ,  5598.7203379 , 10075.79858758,  8128.21212362,
       10491.36768849,  6731.76253756,  6737.96085675,  5824.42019158,
        8830.1166215 ,  9985.15913274, 10382.71023744,  9468.0263143 ,
        8968.98195986, 10125.34089439, 10458.2651463 , 10278.08804577,
        9671.6787843 ,  9329.13714009, 10314.76913411,  5264.56339184,
        9702.21408416,  6171.43279386,  8986.33052433, 10216.19272235,
        9147.3967606 ,  9826.31604212,  8298.03251468,  8311.88829156,
        7566.99918427, 10585.88056004, 10365.38883807, 10134.48005849,
       10264.36282573,  6915.44935844,  9653.38748676, 10541.2624204 ,
        9560.92995691,  8036.36881073,  9719.26456362,  7852.08945425,
       10512.80396135,  9252.12747599,  5726.61394851,  6730.65776903,
        8210.66023805, 10515.83562762, 10009.26844663,  9700.98953567,
       10713.27840286,  7459.58763216,  6787.00375841,  8104.3079721 ,
       10354.65990513,  8853.07922772,  8364.21417446,  9715.8036014 ,
        9717.9187229 , 10052.70924095, 10413.05171654,  7110.93559148,
        9677.88306475,  6332.86407216,  7919.52949511,  9426.02785254,
        4922.86060346,  9277.4623152 , 10063.26423893, 10214.94768556,
        6434.36110141,  9768.93083352,  8988.12723422,  5227.79616128,
        5571.30440259,  4530.22663156, 10314.20984456, 10113.71226961,
        5360.80939407,  8630.38080588,  6927.12547116,  9966.57630777,
       10153.96314322,  5873.22039039,  9650.12316742,  9596.30428421,
        9210.62472152,  9107.96642063, 10077.12276256,  9887.85750934,
        7433.33664508,  5190.30679382,  9222.53641469, 10288.97675716,
        5539.64210263, 10685.55785899,  6126.05232762,  9797.2144396 ,
        9764.16793219,  7734.48412536,  6599.33938152,  9893.11163791,
        8420.76749148,  9136.0556585 ,  6219.28284751, 10460.47400864,
        6426.36893592,  8693.98069786,  8389.820911  ,  9693.29793621,
        8004.80972809, 10164.15734203, 10092.12177753, 10038.13615861,
       10420.91991521,  8559.36348376,  6802.41765474,  9463.60914351,
        6595.32443302, 10452.79948148,  8985.36620712, 10381.62641587,
        9044.61727199,  9858.25635967,  8431.44396488,  9332.03262887,
        9968.53895502,  8373.53182638,  4730.06355541, 10128.50049952,
        9951.43993841, 10514.34035875,  9980.65273426,  4951.73872798,
        7295.05742766,  9562.10832139,  9907.19829915,  5552.67362672,
        9997.10882667,  5143.10046698,  8426.58953237,  7496.77298917,
        7788.58793224,  9652.49535927,  8621.5141248 , 10372.95686992,
        7121.85593538,  9807.45515506,  8055.56244116,  7460.56572873,
       10280.14093316, 10476.37888795,  5412.86365493,  9159.69570754,
        9570.24451488, 10631.67197425, 10191.16722391,  9246.40215298,
        6018.78924109,  9615.95984878, 10520.04528994,  8915.29037502,
        8227.95081736,  9888.28916316,  9469.40296538,  9984.09733556,
       10405.22999333, 10510.19490347,  9686.14366923,  8096.65870148,
       10493.03817153, 10386.55525134,  8807.23351267,  8280.41931335,
        6855.39153451, 10228.17167191,  4741.4113269 ,  8847.08211454,
        5777.60377085, 10140.98307313,  8867.00881496, 10115.19879685,
        9581.17073619, 10485.09114495, 10213.14966572,  9750.35350756,
        9670.90795615,  6722.33834114,  9564.21623605,  8616.86940955,
        6677.30400889, 10373.25962634, 10171.86282428, 10201.5589761 ,
        5933.51739776,  8804.77586124,  9636.29957689,  5533.81938983,
        8355.20070696,  9637.44491292,  4357.89955793,  9958.32874977,
        9779.38235089,  7862.66884791, 10129.74800911, 10459.05959668,
       10231.78369129,  6764.79775959,  6588.0328491 , 10326.6417079 ,
        8491.28578378,  5397.7721542 ,  9806.02134747,  4658.41362832,
        7847.09726007,  5434.32636575,  9947.50805756, 10393.51476648,
        9714.15455674,  8720.24438517,  7747.17735748,  4295.00814836,
        9775.32352003, 10408.91107298,  5697.84384985, 10227.82627464,
        9499.28759155,  8063.91598111,  5558.91344769,  9800.12594902,
       10534.65340782,  6255.9526295 ,  9623.6837517 ,  9474.68837969,
       10386.79158214,  9590.83795102,  9586.78339   ,  9678.64671073,
        6877.78966053,  7815.97344878, 10292.13370401, 10416.92788043,
        7338.21169569,  9995.55545352, 10491.24268381, 10629.34614975,
       10375.07768021, 10067.07191604,  9568.3301962 ,  7811.49275809,
        9221.47869229,  9935.53077254,  9888.11152759,  9905.19892591,
        9447.64222531,  9682.52138303,  9634.69968187,  9811.31864154,
        8756.03555754,  6193.65129714,  6354.87146951,  8207.3621036 ,
        8598.2667194 ,  6487.89489493,  6832.90460176,  5301.78688917,
        8187.42493969,  9828.98271296,  7806.33327627,  9782.73212406,
       10085.78321491,  5680.95952529,  9926.93972284,  9950.95892668,
        8098.05368723,  4565.24396633, 10709.71543595,  3901.21685234,
        9783.97388187, 10514.70878639,  5702.77097363,  5515.28972165,
       10534.65884212,  6791.82026062,  9022.87088921, 10542.0619477 ,
        9388.22098306,  9969.20840168,  8529.3315146 ,  7909.48052462,
       10371.21600688,  5343.40955708,  9793.46202119, 10248.73590685,
       10350.88894338,  9418.6649538 ,  9246.75432375,  9726.77158038,
        5646.60360194,  4954.59993355,  4854.00609399,  9667.14070802,
        6106.03185061,  9895.4585107 , 10067.23023087,  4939.52480184,
        8024.89878537,  9702.49506011,  5897.90997934, 10144.6495611 ,
        5395.93461448,  9622.44225965, 10171.86736173, 10103.58498957,
        9481.19877071,  4918.69676305,  5809.10532945,  7076.07274648,
       10066.02424638, 10430.97776811, 10050.79995384,  7801.53792597,
        8738.32379912,  9963.07184541, 10250.69391036,  9856.67153089,
        8383.84152492,  9307.84587539,  8530.90168144,  9859.23075392,
        9733.54483496,  9744.86150125,  6741.410463  ,  7342.18893371,
        8772.20704958,  9959.77345301,  9692.26944677, 10524.54487623,
        8221.41396472,  6722.97284178,  9894.93188478,  8849.71168914,
        9786.53980838, 10262.59139607, 10382.67498044,  9988.41681508,
        9336.80741819,  9902.52039123,  9109.63147621, 10147.01866123,
        7831.00036415,  6059.56493387,  8827.96184211, 10302.33416028,
        5660.1705204 , 10068.83508852,  9595.70115109,  7698.86996869,
        9319.54039166,  7421.93077111, 10397.65812756, 10008.49656229,
       10572.26845119,  9890.79746015,  9995.86970892,  6328.88724858,
       10434.22517244,  9981.92833783, 10478.31842709,  9584.67757276,
        9795.59966427,  6215.62308925,  8012.67431998, 10289.49085168,
        6351.65397303,  7447.35295678,  9954.0491226 ,  6753.92994153,
        7806.68212311,  5292.72896136,  4479.07164048,  8743.32482334,
        6930.07078154,  7474.31727616,  6868.13323766,  7152.35036884,
        9982.54626745,  8788.00494177,  9330.50348958, 10377.44826079,
       10022.1505514 , 10337.05151745,  9800.2030809 ,  5814.72404507,
        9709.16172189,  7742.98208443,  5572.51518045,  4925.50951785,
        9768.41037373,  9221.55601083, 10071.81783204,  6262.02686535,
        8575.98018953, 10437.10459474,  5155.27599558, 10121.59338446,
        6288.64828167, 10016.50553712,  8248.74649184, 10337.34582013])

In [85]:
Results=pd.DataFrame(columns=['price','predicate'])
Results['price']=y_test
Results['predicate']=ypred
Results=Results.reset_index()
Results['ID']=Results.index
Results.head(15)

    index  price     predicate  ID
0     481   7900   5819.193088   0
1      76   7900   7248.829142   1
2    1502   9400   9741.893697   2
3     669   8500   9798.980331   3
4    1409   9700  10055.006246   4
5    1414   9900   9551.495568   5
6    1089   9900   9758.017439   6
7    1507   9950  10122.977837   7
8     970  10700   9654.966181   8
9    1198   8999   9251.140326   9
10   1088   9890  10478.095123  10
11    576   7990   7807.300526  11
12    965   7380   7705.158738  12
13   1488   6800   6295.632449  13
14   1432   8900   9545.404863  14

In [ ]:
data1['longue'] = data.apply